@import "tailwindcss";

.bg-primario {
  background-color: #fb6f92;
}
.bg_secundario {
  background-color: #ffafcc;
}

.bg_primarioA {
  background-color: #bde0fe;
}
.bg_secundarioA {
  background-color: #a2d2ff;
}

.bg_fondo {
  background-color: #be95c4;
}

.texto_letras {
  background-color: #0f6c73;
}
.texto_letrasA {
  background-color: #6ddad3;
}
